@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #558494;

body {
	margin: 0;
	font-family: 'Nunito', 'sans-serif';
	font-size: 18px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background: $primary;
	padding: 1em 0;

	a {
		color: white;
		text-decoration: none;
	}

	img.logo {
		width: 100px;
	}

	nav {
		float: right;

		ul {
			list-style-type: none;
			display: flex;
		}

		li a {
			padding: 1em;
			margin-top: 3rem;

			&:hover {
				background: darken($primary, 10%);
			}
		}
	}

	h1 {
		margin-top: 2em;
	}
}
