<h1> Pokemons </h1>

<button class="load-button" (click)="fetchNextSetOfPokemons()" [disabled]="disableLoading()">
    <span *ngIf="!error">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Load more</span>
    </span>
    <span *ngIf="error">
      Loading failed
    </span>
  </button>

  <p>filter by name</p>
  <span *ngIf="!error">
        <input #box (keyup.enter)="onNameEnter(box.value)">


<ul>
    <li *ngFor="let pokemon of filteredPokemons">
        <p class="name"> {{ pokemon.name }} </p>
        <img class= "sprites" src= "{{ pokemon.imageUrl }}"/>
    </li>
</ul>

