ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	li {
		background: rgb(238, 238, 238);
		padding: 1em;
		margin-right: 10px;
		margin-bottom: 1em;
		display: flex;
		flex-direction: column;
		width: 36%;
		align-items: center;

		p {
			margin: 0;
		}

		p.name {
			font-weight: bold;
			font-size: 1.2rem;
		}

		img {
			width: 96px;
		}
		p.abilities {
			font-size: 1rem;
		}
	}
}

.filters {
	display: flex;
	margin: 2rem;
	color: #558494;
	font-weight: bold;
	font-size: 14px;
	button,
	select {
		height: 35px;
		margin: 1rem;
		border: 1px solid lightgrey;
		width: 150px;
	}
	input {
		height: 35px;
		margin: 1rem;
		border: 1px solid lightgrey;
	}
	button {
		color: #558494;
		font-weight: bold;
		font-size: 14px;
		background: lightgray;
	}
}
@media only screen and (min-width: 1024px) {
	li {
		width: 10% !important;
	}
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
	li {
		width: 18% !important;
	}
}
